name: Hybrid Test Automation

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Java 17.0.12
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17.0.12'
          cache: maven

      - name: Verify Java Version
        run: |
          java -version
          javac -version
          mvn -version

      - name: Run Maven Tests
        run: mvn clean test
